@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    background-color: black;
}

.anime {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.appView:hover .view1 {
  display: block !important;
}

.no {
  background-color: red;
}

.none{
  display: none;
}